.num, .inum, .onum {
  height: 50px;
  background-color: #29e;
  color: white;
  transform: translate(0px, 0px);
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 32px;
  box-sizing: border-box;
  border: 4px solid black;
  border-radius: 5px;
  position: absolute;
  z-index: 100;
  cursor: pointer;
}

.inum, .onum {
  display: inline-block;
  position: static;
}

.onum {
  color: black;
  background-color: white;
}

#instructions span {
  font-size: 32px;
}

.num.selectable {
  border: 4px dashed black;
}
.num.selected {
  border: 4px solid red;
}

.digit {
  width: 50px;
  display: inline-block;
}

.digit:first-child, .digit:last-child {
  width: 46px;
}

.digit:first-child:last-child {
  width: 42px;
}

#game {
  max-width: 400px;
  margin: auto;
}

#game-canvas {
  position: relative;
  height: 200px;
  border: 1px solid black;
}

button {
  cursor: pointer;
}

.operation:hover, .operation.selected {
  background-color: #4e4;
}

.glyphicon {
  font-size: 30px;
}
